*{
    padding: 0;
    margin: 0;
}

.first_container{
    width: 100%;
    height: 60px;
    /* border: 3px solid red; */
    /* border-radius: 10px; */
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
.second_container{
    width: 100%;
    height: 640px;
    background-image: linear-gradient(to right, #29b0ea83, #5449c6a5, #57e9cc74);
    display: grid;
    grid-template-columns: 1300px;
    /* border-radius: 30px; */
    justify-content: center; 
   align-content: space-around;
   /* background-color: blue; */
}
.box{
        /* width: 30px; */
        height: 600px;
        /* border: 3px solid red; */
        box-shadow: 10px 10px 20px ;
        border-radius: 20px;
        /* background-image: linear-gradient(to right, #fc5c7cb9, #6a82fbb9,#264653); */
        background-image: linear-gradient(to left, #c6ffdd, #fbd786, #fa727792,#8feeb0,#84b4e0);
}
.inside_box{
    width: 100%;
    height: 340px;
    /* border: 3px solid green; */
}